body {
  font-family: Arial, sans-serif;
}
input {
  width: 35px;
  height: 35px;
  border: 0px;
  text-align: center;
  font-size: 14pt;
  color: #777;
}

input[type="text"]:disabled {
  background: #dddddd;
  font-weight: bold;
  color: black;
  text-align: center;
}

colgroup, tbody {
  border: solid medium;
}

.grid {
  border: solid thin;
  padding: 0;
  margin: 2px;
}


button {
  color: white;
  font-size: 14pt;
  margin: 15px 0;
  border: none;
}

.submit {
  background-color: green;
}

.reset {
  background-color: orange;
}

.img {
  max-width: 400px;
  border-radius: 30px;
}
